<!-- Laptpo menu -->
<div class="laptop-menu" data-js="laptop-menu">
	<nav class="laptop-menu__nav">
		<ul class="laptop-menu__list">
			<li class="laptop-menu__item">
				<a href="{{ laptopmenu.link_main }}">{{laptopmenu.title_main}}</a>
			</li>
			<li class="laptop-menu__item">
				<a href="{{ laptopmenu.link_protfolio }}">{{laptopmenu.title_portfolio}}</a>
			</li>
			<li class="laptop-menu__item">
				<a href="{{ laptopmenu.link_work }}">{{laptopmenu.title_work}}</a>
			</li>
			<li class="laptop-menu__item">
				<a href="{{ laptopmenu.link_facility }}">{{laptopmenu.title_facility}}</a>
			</li>
			<li class="laptop-menu__item">
				<a href="{{ laptopmenu.link_contact }}">{{laptopmenu.title_contact}}</a>
			</li>
		</ul>
	</nav>
	<div class="social">
		<a class="block" href="{{laptopmenu.telephone_link}}">{{laptopmenu.telephone}}</a>
		<a class="block" href="{{laptopmenu.mail_link}}">{{laptopmenu.mail}}</a>
	</div>
</div>
<!-- LaptopMenu Overlay -->
<div class="laptop-menu__overlay" data-js="overlay"></div>
