{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

<script type="module"
                crossorigin
                src="{% static 'portfolio-21862d62.js' %}"></script>
<link rel="modulepreload"
        crossorigin
        href="{% static 'assets/colorTheme-68c1091f.js' %}">
<link rel="modulepreload"
        crossorigin
        href="{% static 'assets/loader-896b65bd.js' %}">
<link rel="stylesheet" href="{% static 'assets/colorTheme-a8d8e184.css' %}">


{% block content %}
    <div class="flowContainer">
        <main>
            <section class="portfolio">
					<div class="container">
						<div class="portfolio__title">
							<div class="portfolio__header"></div>
							<div class="portfolio__filter" data-js="filter">Фильтры</div>
							<div class="portfolio__filter-container">
								<div class="portfolio__filter-list" data-js="filter-list">
									<form
										class="portfolio__filter-form"
										id="form-filter"
										data-js="form-filter"
										enctype="multipart/form-data"
										data-js-details='{"url": "http://192.168.0.5:5000/filtered"}'
									>
										<fieldset class="portfolio__filter-fieldset">
											<legend class="portfolio__filter-list-legend">
												Стили
											</legend>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="2d"
													name="2d"
													data-js="filter-check"
												/>
												<label
													for="2d"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													2D <span>(25)</span></label
												>
											</div>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="3d"
													name="3d"
													data-js="filter-check"
												/>
												<label
													for="3d"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													2D <span>(25)</span></label
												>
											</div>
										</fieldset>
										<fieldset class="portfolio__filter-fieldset">
											<legend class="portfolio__filter-list-legend">
												Жанр
											</legend>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="genre-action2"
													name="genre-action2"
													data-js="filter-check"
												/>
												<label
													for="genre-action2"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													Action2 <span></span
												></label>
											</div>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="genre-action"
													name="genre-action"
													data-js="filter-check"
												/>
												<label
													for="genre-action"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													Action <span></span
												></label>
											</div>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="genre-idle"
													name="genre-idle"
													data-js="filter-check"
												/>
												<label
													for="genre-idle"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													Idle <span></span
												></label>
											</div>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="genre-shooter"
													name="genre-shooter"
													data-js="filter-check"
												/>
												<label
													for="genre-shooter"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													Shooter <span></span
												></label>
											</div>
											<div class="portfolio__filter-input-block">
												<input
													type="checkbox"
													class="custom-checkbox__field"
													id="genre-platformer"
													name="genre-platformer"
													data-js="filter-check"
												/>
												<label
													for="genre-platformer"
													class="custom-checkbox__label portfolio__filter-checkbox"
												>
													Platformer <span></span
												></label>
											</div>
										</fieldset>
									</form>
								</div>
								<div class="portfolio__filter-form-submit">
									<input
										type="submit"
										value="Искать!"
										class="portfolio__filter-submit"
										form="form-filter"
										data-js="filter-submit"
									/>
									<button
										class="portfolio__filter-clear"
										data-js="filter-clear"
									>
										Сбросить
									</button>
								</div>
							</div>
						</div>
						<div class="portfolio__main-block" data-js="popup-block">
							<div
								class="portfolio__main-block-cross"
								data-js="popup-cross"
							></div>
							<div class="portfolio__main-block-top">
								<div class="portfolio__main-block-img">
									<img
										src="../img/browl-item.png"
										alt="BrowlLogo"
										data-js="popup-logo"
									/>
								</div>
								<div class="portfolio__main-block-info">
									<span
										class="portfolio__main-block-title"
										data-js="popup-title"
										>Brawl Royale</span
									>
									<span class="portfolio__main-block-date" data-js="popup-date"
										>25.05.2022</span
									>
								</div>
								<p class="portfolio__main-block-text" data-js="popup-text">
									Lorem ipsum dolor sit amet consectetur. Massa id lobortis
									viverra interdum.
								</p>
							</div>
							<div class="portfolio__main-block-bottom">
								<div
									class="portfolio__main-game-container"
									data-js="popup-container-images"
								>
									<div class="portfolio__main-game-card" data-js="popup-image">
										<img
											src="../img/team.png"
											alt=""
											class="portfolio__main-game-card-img"
										/>
									</div>
									<div
										class="portfolio__main-game-card"
										data-js="popup-image"
									></div>
									<div
										class="portfolio__main-game-card"
										data-js="popup-image"
									></div>
								</div>
							</div>
						</div>
						<div class="portfolio__content" data-js="portfolio-content">
                            {% for block in cards %}
                                    <div
                                    class="portfolio__item"
                                    data-js="game-item"
                                    data-js-portfolio-detail='{% for key, value in result_dict.items %}{% if key == block.title %}{{value}}{% endif %}{% endfor %}''
                                    >
                                        <img class="portfolio__item-img" alt="GameLogo" src="{{block.image_logo.url}}"/>
                                    </div>
                            {% endfor %}
                        </div>
					</div>
				</section>
        </div>

        </main>
    </div>
<!-- Contact Form -->
<div class="contact-modal" data-js="contact-modal">
    <div class="contact-modal__cross" data-js="contact-modal-cross"></div>
    <div class="contact-modal__top-title">
        <h2 class="contact-modal__title" data-js="contact-modal-title">
            UI/UX
            Technical Designer
        </h2>
        <time class="contact-modal__date"
                datetime="2023-05-29"
                data-js="contact-modal-date">Май 29, 2023</time>
    </div>
    <div class="contact-modal__subtitle" data-js="contact-modal-work-type">Удаленно</div>
    <p class="contact-modal__info" data-js="contact-modal-message">
        We are looking for a talented and skillful UI/UX Technical Designer to work
        on our game projects for the world’s best publishers and game developers.
        Pingle Game Studio is a team of professional game developers with over 15
        years of industry experience. Our goal is to reach and maintain a leading
        position among video game developers all over the world. We are engaged in
        the development and porting, work with all stages of development.
    </p>
    <div class="contact-modal__requirements-title"
            data-js="contact-modal-req-title">Основные требования:</div>
    <ul class="contact-modal__requirements-list"
        data-js="contact-modal-req-list">
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Creating and implementing interfaces from premade design layouts;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">
            Compiling and working with interfaces inside game engine (Unreal
            Engine/Unity);
        </li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Supporting and correcting the existing interfaces;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Creating the structure and work logic for existing interfaces;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">
            Adapting interfaces for different platforms: PC, Consoles, Mobile;
        </li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Offering improvements to the existing interfaces;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Optimizing and importing UI assets;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Close collaboration with UI/UX designers and game designers;</li>
        <li class="contact-modal__requirements-item"
            data-js="contact-modal-req-item">Drawing simple elements of interfaces.</li>
    </ul>
    <div class="contact-modal__contact-us-title">Понравилась вакансия? Свяжись с нами!</div>
    <form action=""
            class="contact-modal__form"
            data-js="contact-form"
            id="contact-form"
            enctype="multipart/form-data"
            data-js-details='{"url": "http://192.168.0.5:5000/form1"}'>
        <div class="contact-modal__input-container">
            <input type="text"
                    class="input-text contact-modal__input"
                    placeholder="*Name"
                    required />
            <input type="email"
                    class="input-text contact-modal__input"
                    placeholder="*Email"
                    required />
            <div class="contact-modal__input input-icon-container input-icon-container--telegram">
                <input type="text"
                        class="input-text input-text--telegram"
                        placeholder="@example" />
            </div>
            <div class="contact-modal__input input-icon-container input-icon-container--linkedin">
                <input type="text"
                        class="input-text input-text--linkedin contact-modal__input"
                        placeholder="linkedin" />
            </div>
        </div>
        <textarea name="about-me"
                    id="about-me"
                    placeholder="*write about yourself..."
                    class="contact-modal__textarea text-area"
                    required></textarea>
        <div class="contact-modal__bottom">
            <div class="contact-modal__file">
                <label for="input-file" class="contact-modal__file-label"></label>
                <input type="file"
                        class="input-file"
                        id="input-file"
                        title="Прикрепить резюме" />
                <button class="contact-modal__resume" id="fileButton" data-js="get-file-btn">Прикрепить резюме</button>
                <div class="contact-modal__delete-file" data-js="delete-file"></div>
            </div>
            <input type="submit" value="Отправить" class="contact-modal__input-submit" />
        </div>
        <input type="reset"
                value="Очистить форму"
                data-js="contact-modal-reset"
                style="display: none" />
    </form>
</div>
<!-- ContactForm Overlay -->
<div class="laptop-menu__overlay" data-js="contact-form-overlay"></div>
<!-- Portfolio Overlay -->
<div class="portfolio__overlay" data-js="popup-overlay"></div>
<!-- Loader -->
<div class="clock-loader__overlay" data-js="loader-overlay"></div>
<div class="clock-loader" data-js="clock-loader"></div>
{% endblock content %}