{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block content %}
<main>
    <section class="advance">
        <div class="container">
            <div class="advance__wrapper">
                <div class="advance__img card--left card--w405">
                    {% image page.image_work max-435x569 alt="team-image" loading="lazy"  %}
                </div>
                <div class="advance__info">
                    <div class="advance__zorg-games-title">
                        {{page.title1}} <br />
                        <span class="accent-text">{{page.title2}}</span>
                    </div>
                    <p class="advance__zorg-games-subtitle">
                        {{page.subtitle}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="work-condition">
        <div class="container">
            <div class="work-condition__wrapper">
                <div class="infoblock-container">
                    {% for block in page.body_advantage %}
                        {% include_block block %}
                    {% endfor %}     
                </div>
            </div>
        </div>
    </section>
    <section class="vacancy">
					<div class="container">
						<p class="vacancy__title">
							{{page.vacancy_title}}
						</p>
						<p class="vacancy__title vacancy__subtitle">
							<span class="accent-text">{{page.get_contact_title}}</span>
						</p>
						<div class="carrier__vacancy">
							{% for block in page.body_work %}
                            	{% include_block block %}
                        	{% endfor %}
						</div>
						<div class="vacancy__get-contact">
							<div class="vacancy__get-contact--title">
								{{page.text}}
							</div>
							<div class="vacancy__get-contact--subtitle">
								{{page.text2}}
							</div>
							<button class="vacancy__get-contact--btn" data-js="vacancy-item">
								{{page.text_btn}}
							</button>
							<div class="vacancy__img card--right card--w326 card--rot15">
                                {% image page.image_contact max-401x440 alt="carrier-image" loading="lazy"  %}
							</div>
						</div>
					</div>
	</section>
</main>
{% endblock %}